# Ejemplo de variables de entorno con configuraciones "sensibles"
# (nombre de host, usuario y password, etc).

export VCLOUD_HOST="server.name"
export VCLOUD_USERNAME="username"
export VCLOUD_PASSWORD="password"
export VCLOUD_ORG="org"
export VCLOUD_VDC="vdc"

# Ejemplo de configuración de caché con variables de entorno.
# Los ficheros con la caché se guardan en formato json dentro
# del directorio "cache".

export ANSIBLE_INVENTORY_CACHE=True
export ANSIBLE_INVENTORY_CACHE_PLUGIN=jsonfile
export ANSIBLE_CACHE_PLUGIN_CONNECTION=cache
